

*{padding: 0;margin: 0;text-decoration: none;box-sizing: border-box;}


@font-face { font-family: 'RedHat_bold'; src: url(../res/RedHat/Bold.woff);}
@font-face{ font-family: 'RedHat_regular'; src: url('../res/RedHat/Regular.woff');}


section.card {
	box-shadow: 5px 2px 20px #c2bebe;
	width: min(287px,80%);
	background-color: blue;
	overflow: hidden;
	margin: 7% auto auto;
	border-radius: 24px;
}

section.card header#cheader {width: 100%;}
section.card header#cheader img{width: 100%;}
section.card header#cheader h1{
	width: 100%;
	text-align: center;
	font: 500 1.1rem/1 RedHat_bold;
	margin: 8% auto 0  auto;
}
section.card header#cheader p {
	width: 70%;
	font: 500 0.7rem/1.5 RedHat_regular;
	margin: 5% auto 0 auto;
	text-align: center;
}

section.card div#cbody {
	display: grid;
	grid-template-columns: 20% 50% 30%;
	width: 77%;
	margin: 3% auto 0 auto;
	border-radius: 10px;
	padding:  5%;
}
section.card div#cbody img{width: 76%; vertical-align: middle;}
section.card div#cbody p{
	text-align: left;
	width: 100%;
	font: 700 0.7rem/1.5 RedHat_bold;
}
section.card div#cbody p̣ span{
	font: 700 0.7rem/1.5 RedHat_bold;
	color:  red;
}
section.card div#cbody a{
	display: block;
	margin: auto auto;
	text-align: right;
	width: 100%;
	font: 700 0.6rem/1.5 RedHat_bold;
}

section.card .buttons {
	display: block;
    width: 78%;
    border-radius: 6px;
	margin: 7% auto 0 auto;
	padding:  3% 0;
	border: 1px solid #38290e;
	font: 700 0.6rem/1.5 RedHat_bold;
	background-color: #3829e0;
    color: #f4f4f4;
}

section.card .buttons:last-child{
	background: transparent;
	margin: 3% auto 8% auto;
	border: none;
}
