
@media print {
   #to-print {
	   width: 210mm; 
      height: 297mm;
	   margin: 0 auto;
      box-shadow: 1px 3px 4px #000, -1px -2px 4px #000;
      overflow: hidden;
      padding: 0;
    float: none;
    background-color: #fff;
    box-shadow: none;
  }

  #controls{
      display:  none;
  }
}