*{padding: 0;margin:0;}


html {font-size: 65.7%;}
body {font-size: 1rem;}

.card {
    display: flex;
    align-items: stretch;
    justify-items: center;
    width: min(800px, 90%);
    margin: 5% auto;
    border-radius: 10px;
    overflow: hidden;
}

.card .items {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
    padding: 5%;
}

.card .item_a{background-color: hsl( 31,  77%, 52%);}
.card .item_b{background-color: hsl(184, 100%, 22%);}
.card .item_c{background-color: hsl(179, 100%, 13%);}

.card .items .images {
	width: 32%;
}

.card .items .titles {
    width: 80%;
	color:  hsl(0, 0%, 95%);
	margin-top: 14%;
	text-transform: uppercase;
	font: 700 3rem/1 'Big Shoulders Display', cursive;
}

.card .items .texts {
    display: block;
	color: hsla(0, 0%, 100%, 0.75);
	font: 600 1.3rem/2 'Lexend Deca', sans-serif;
    margin-top: 20%;
    height: auto;
}

.card .items .buttons {
    position: relative;
	background-color: #fafafa;
	border: 2.5px solid #fafafa;
	border-radius: 55px;
	cursor: pointer;
	font: 400 1.1rem/1 'Lexend Deca', sans-serif;
    padding: 6%;
    margin-top: 30%;
    width: 80%;
}

.card .items .bnt_a{color: hsl( 31,  77%, 52%);}
.card .items .bnt_b{color: hsl(184, 100%, 22%);}
.card .items .bnt_c{color: hsl(179, 100%, 13%);}

.card .items .buttons:hover {
	color: hsla(0, 0%, 100%, 0.75);
	background-color: transparent;
}

@media (max-width: 613px)
{

.card {
    flex-direction: column;
    width: min(400px, 80%);
    margin: 5% auto;
}

.card .items {
    width:100%;
}

.card .items .images {
    width: 20%;
    margin-top: 8%;
}
 
.card .items .titles {
    margin-top: 10%;
    font-size: 4rem;
}

.card .items .texts {
    width: 90%;
    font-size: 1.4rem;
}

.card .items .buttons {
    width: 50%;
    font-size: 1.2rem;
    padding: 3% 0;
    margin-bottom: 10%;
}

}


@media (min-width: 614px) and ( max-width: 767px ) {
    .card {
        display: none;
    }
}
